<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Das Geheimnis des Ulfberht-Schwerts</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='geheimnis_n.css') }}">

</head>
<body>
    <div class="container">
        <h1>Herzlichen Glückwunsch!</h1>
        <p>Du hast ein legendäres Ulfberht-Schwert gefunden.</p>
        <img src="{{ url_for('static', filename='images/schwert_truhe2.png') }}" alt="Ulfberht-Schwert in einer Truhe">
        <p>Dieses Schwert war seiner Zeit weit voraus. Gefertigt aus fast reinem Stahl, war es eines der besten Waffen des Mittelalters. Bis heute rätseln Historiker über seine Herkunft. War es eine geheime Schmiedetechnik der Wikinger oder ein Import aus dem fernen Persien?</p>
        <a href="/survey" class="button">Zur Umfrage</a>
    </div>
</body>
</html>